name: Publish
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Publish
    environment: Production
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2

      - name: Install dependencies
        run: bun install

      - name: Check
        run: bun lint

      # PNPM and Node are required for OIDC publishing
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 25

      - name: Publish
        run: pnpm publish --provenance --no-git-checks
